{% extends "admin/base.html.twig" %}

{% block title %}Bienvenue Admin{% endblock %}

{% block body %}
<div class="container">
    <div class="jumbotron mt-3">
        <h1 class="display-5">Bienvenue admin, ici vous pourrez gérer tout le contenu du site</h1>
        <p class="lead">Vous avez accès à toutes les catégories du site pour pouvoir administrer YK Rent</p>
        <hr class="my-4">
        <p>Vous pouvez corriger, ajouter ou supprimer</p>
        <p class="lead">
        </p>
    </div>
</div>
{% endblock %}